* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none
}
body{
    background-size: cover;
    scroll-behavior: smooth;
}

/* Dark Mode Styles */
.dark {
  background: linear-gradient(to top, #211945 0%, #303030 40%, #121212 60%, #000000 100%);
  color: #fff;
  transition: all 1s;
}
.dark.header {
  background: linear-gradient(to left, gray 0%, gray 40%, #000000 60%, #000000 80%, #000000 100%);
  color: #f5f5f5;
  transition: all 1s;
}

/* Light Mode Styles */
.light {
  background: linear-gradient(to top, #2d7fb2 0%, #1e88ca 20%, #1da1f2 40%, #6253e8 60%, #6253e8 80%, #18163c 100%);
  color: #000;
  transition: background 0.5s, color 0.5s;
}

.light.header {
  background: linear-gradient(to bottom left, #1da1f2 0%, #6253e8 40%, #6253e8 60%, #18163c 100%);
  color: #f5f5f5;
  transition: background 0.5s, color 0.5s;
}

/* Gradient Text Styles */
.dark .text-gradient{
  background-image: -webkit-linear-gradient(left, white, gray, white);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
/* background: -webkit-linear-gradient(left, #00f298, #07f7f7); */
/* background: linear-gradient(-19deg, darkgray, transparent); */
/* -webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}
.light .text-gradient {
  background-image: -webkit-linear-gradient(left, black, rgb(67, 65, 65), black);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* KeyFrames*/
@keyframes moveFromRightToMiddle {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveFromLeftToMiddle {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-svg {
  animation: moveFromLeftToMiddle 2s ease-in-out; 
  overflow-y: auto;
}
.animate-text {
  animation: moveFromRightToMiddle 2s ease-in-out;
  overflow-y: auto;
}
.animate-image {
  animation: moveFromRightToMiddle 2s ease-in-out;
}

/* .active{
    background-color: #1d4ed8;
} */
/* #nav a:not(.active):hover{
    background-color: #5a0c1f;
} */

/* a:hover{
    background: var(--color);
    color: #050801;
    box-shadow: 0 0 5px var(--color),
    0 0 25px var(--color),
    0 0 50 var(--color)
    0 0 75px var(--color)
} */

/* background: linear-gradient(to bottom left, #211945, #211945);
background: linear-gradient(to bottom left, #1da1f2, #6253e8); */
/* -webkit-box-reflect: below 5px linear-gradient(to bottom,  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) */

