:root {
	--project-width: 250px;
}
.open {
	background: rgb(245, 242, 245);
	min-height: calc(var(--project-width) / 4.1);
	min-width: calc(var(--project-width) / 4.1);
	max-height: calc(var(--project-width) / 4.1);
	max-width: calc(var(--project-width) / 4.1);
	border-radius: 50% 10px 20px 50%;
	position: absolute;
	color: rgb(34, 33, 52);
	display: grid;
	place-items: center;
	top: 0;
	right: 0;
	/* left: var(--blob-left); */
	font-size: calc(var(--project-width) / 26);
	text-align: center;
}
.dark .project {
	background: linear-gradient(135deg, rgba(253, 253, 253, 0.18) 0.01%, rgba(243, 243, 243, 0.00) 100%);
  }
.light .project {
	background: linear-gradient(135deg, rgba(253, 253, 253, 0.18) 0.01%, rgba(243, 243, 243, 0.00) 100%);
  }
.btn{
	background: linear-gradient(91deg, #EC008C 0%, #FC6767 100%);
  }