/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
.name{
    font-family: "Shojumaru";
}
body{
    font-family: "Merienda";
}
.projects{
    font-family: "Montserrat Alternates";
}
@layer base {
    h2 {
      @apply text-green-500 font-bold py-4 mb-4 text-3xl border-b-4 inline;
    }
  }
  