:root {
	--project-width: 250px;
	--border-radius: 10px;
	--blob-left: 238px;
}

.project {
	background: rgb(34, 33, 52);
	min-width: var(--project-width);
	max-width: var(--project-width);
	border-radius: var(--border-radius);
	padding: 1.5rem;
	margin: 0 2rem 2rem 0;
	position: relative;
}


.project .tech-stack div {
	min-height: 20px;
	min-width: 60px;
	max-height: 20px;
	max-width: 60px;
	font-size: 0.6rem;
	padding: 0.4rem;
	margin: 0 0.5rem 0.25rem 0;
	display: grid;
	place-items: center;
	background: rgb(25, 23, 32);
	border-radius: var(--border-radius);
}


.open {
	background: rgb(245, 242, 245);
	min-height: calc(var(--project-width) / 4.1);
	min-width: calc(var(--project-width) / 4.1);
	max-height: calc(var(--project-width) / 4.1);
	max-width: calc(var(--project-width) / 4.1);
	border-radius: 50% 10px 20px 50%;
	position: absolute;
	color: rgb(34, 33, 52);
	display: grid;
	place-items: center;
	top: 0;
	right: 0;
	/* left: var(--blob-left); */
	font-size: calc(var(--project-width) / 26);
	text-align: center;
}
